[submodule "MathJax"]
	path = MathJax
	url = https://github.com/mathjax/MathJax.git
[submodule "svg2pdf.js"]
	path = svg2pdf.js
	url = https://github.com/yWorks/svg2pdf.js.git
[submodule "jsPDF"]
	path = jsPDF
	url = https://github.com/MrRio/jsPDF.git
